node_modules/
dist/
.env
.DS_Store

# Runtime files
backend/build.json
backend/kahu.pid
backend/kahu/data/issues/
backend/kahu/data/mother-issues/
backend/kahu/data/state.json
backend/kahu/logs/
backend/lib/logs/

# Flutter
client/build/
client/.dart_tool/
client/.packages
